doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        title Popup
        link(rel="stylesheet" href="style.min.css")

    body
        h1 UI Component
        div#root
        script(src="main.min.js")

