/**
 * Vertically Align Children
 * --------------------------------------------------------------------
 *  - Example:
 *      div > * {
 *         @include align-children('relative', 'vert');
 *      }
 */
@mixin align-children($pos, $align-mode) {
    position: $pos;
    @if ($align-mode == "both") {
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if ($align-mode == "horz") {
        left: 50%;
        transform: translateX(-50%);
    }
    @else if ($align-mode == "vert") {
        top: 50%;
        transform: translateY(-50%);
    }
}


/**
 * Set the max width for a component while center it in Desktop Screen
 */
@mixin limit-max-width-n-center-horz () {
    margin: 0 auto;
    max-width: $w-desktop;
}


/**
 * Arrow
 * --------------------------------------------------------------------
 * - Example:
 *      @include arrow('vertical', 10px, red);
 *      @include arrow('up', 10px, red);
 */
@mixin arrow($direction, $arrowSize: 5px, $color: gray) {
    width: 0;
    height: 0;

    // $arrowSize = Arrow Width
    @if $direction == 'up' or $direction == 'dn'  {
        border-left: $arrowSize solid transparent;
        border-right: $arrowSize solid transparent;

    } @else if $direction == 'lt' or $direction == 'rt'  {
        border-top: $arrowSize solid transparent;
        border-bottom: $arrowSize solid transparent;
    }

    // $arrowSize = Arrow Depth
    @if $direction == 'up' {
        border-bottom: $arrowSize solid $color;

    } @else if $direction == 'dn' {
        border-top: $arrowSize solid $color;

    } @else if $direction == 'lt' {
        border-right: $arrowSize solid $color;

    } @else if $direction == 'rt' {
        border-left: $arrowSize solid $color;
    }

    @content;
}


/* Menu (Horizontal/Vertical Repeating dots)  */
@function repeating-dots-bg($color: white, $hover-color: null, $size: 6px, $direction: horz) {
    $_repeat: null;
    $width: null;
    $height: null;
    $bg: null;
    $bg-hover: null;

    // Direction
    @if $direction == horz {
        $width: $size*3;
        $height: $size;
        $_repeat: repeat-x;

    } @else if $direction == vert {
        $width: $size;
        $height: $size*3;
        $_repeat: repeat-y;
    }

    // Bg
    $bg: radial-gradient(ellipse at center, $color 0%, $color 50%, transparent 0) 0px center/$size $size $_repeat;
    @if $hover-color != null {
        $bg-hover: radial-gradient(ellipse at center, $hover-color 0%, $hover-color 50%, transparent 0) 0px center/$size $size $_repeat;
    }

    @return (
        $width,
        $height,
        $bg,
        $bg-hover
    );
}

/* Custom Scroll bar for Element as a Container (-webkit only) */
@mixin self-custom-scrollbar($bgColor, $barColor, $barWidth) {
    &::-webkit-scrollbar {
        width: ($barWidth+3);
    }

    &::-webkit-scrollbar-track {
        background-color: $bgColor;
    }

    &::-webkit-scrollbar-thumb {
        border-right: 3px solid $bgColor;
        background-color: $barColor;
    }
}
