.side-nav {
    padding: 40px 0;
    min-width: 220px;
    width: 220px;
    background-color: #13283B;
    color: #94A9C1;

    &__title {
        flex: auto;
        margin-left: 10px;
    }

    &__ls {
        p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px 0 25px;
            height: 40px;
            font: 16px $roboto-bld;

            .icon--plain {
                width: 12px;
                height: 12px;
                font-weight: 600;
            }
        }

        ul {
            max-height: 320px;
            overflow-y: auto;
            list-style-type: circle;
            list-style-position: inside;
            font: 16px $roboto-reg;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: #13283B;
            }

            &::-webkit-scrollbar-thumb {
                border-right: 3px solid #13283B;
                background-color: #94A9C1;
            }
        }

        &--atv {
            ul { transition: max-height 0.2s linear; }

            .icon {
                color: white;
            }

            p {
                color: white;
                background-color: #364858;
            }

            .badge {
                color: white;
                background-color: #2E8B85;
            }
        }

        &:not(&--atv) {
            ul { transition: max-height 0.1s linear; }

            p:hover {
                cursor: pointer;
                background-color: #2E8B85;
                color: white;

                .badge {
                    color: white;
                }
            }
        }
    }

    &__nls {
        padding-left: 50px;
        line-height: 40px;
        height: 40px;

        &--atv {
            color: white;
            background-color: #364858;
        }

        &:not(&--atv):hover {
            cursor: pointer;
            background-color: #2E8B85;
            color: white;
        }
    }
}