@mixin side-nav__list-item($bgColor, $isHover: false) {
    @if $isHover == true {
        cursor: pointer;
    }
    background-color: $bgColor;
    color: $white;
    @content;
}

.side-nav {
    padding: 40px 0;
    min-width: 220px;
    width: 220px;
    background-color: $dark-blue-200;
    color: $light-blue-100;

    &__ls {
        p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px 0 25px;
            height: 40px;
            font: 16px $roboto-bld;

            .icon--plain {
                width: 12px;
                height: 12px;
                font-weight: 600;
            }
        }

        ul {
            @include self-custom-scrollbar($dark-blue-200, $light-blue-100, 2px);
            overflow-y: auto;
            list-style-type: circle;
            list-style-position: inside;
            font: 16px $roboto-reg;
        }

        &--atv {
            p {
                @include side-nav__list-item($dark-blue-300);

                .badge {
                    color: $white;
                    background-color: $teal-200;
                }
            }

            ul {
                transition: max-height 0.2s linear;
            }
        }

        &:not(&--atv) {
            p:hover {
                @include side-nav__list-item($teal-200, true);

                .badge {
                    color: $white;
                }
            }

            ul {
                transition: max-height 0.1s linear;
            }
        }
    }

    &__nls {
        padding-left: 50px;
        line-height: 40px;
        height: 40px;

        &--atv {
            @include side-nav__list-item($dark-blue-300);
        }

        &:not(&--atv):hover {
            @include side-nav__list-item($teal-200, true);
        }
    }

    &__title {
        flex: auto;
        margin-left: 10px;
    }
}