.side-nav {
    padding: 40px 0;
    min-width: 220px;
    width: 220px;
    background-color: $dark-blue-200;
    color: $light-blue-100;

    &__title {
        flex: auto;
        margin-left: 10px;
    }

    &__ls {
        p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px 0 25px;
            height: 40px;
            font: 16px $roboto-bld;

            .icon--plain {
                width: 12px;
                height: 12px;
                font-weight: 600;
            }
        }

        ul {
            overflow-y: auto;
            list-style-type: circle;
            list-style-position: inside;
            font: 16px $roboto-reg;

            /* TODO: mixin */
            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: $dark-blue-200;
            }

            &::-webkit-scrollbar-thumb {
                border-right: 3px solid $dark-blue-200;
                background-color: $light-blue-100;
            }
        }

        &--atv {
            p {
                .icon {
                    color: $white;
                }

                .badge {
                    color: $white;
                    background-color: $teal-200;
                }
            }

            ul {
                transition: max-height 0.2s linear;
            }
        }

        &:not(&--atv) {
            p:hover {
                // cursor: pointer;
                // background-color: $teal-200;
                // color: $white;

                .badge {
                    color: $white;
                }
            }

            ul {
                transition: max-height 0.1s linear;
            }
        }
    }

    /* TODO: Mixin */
    &__ls--atv p,
    &__nls--atv {
        color: $white;
        background-color: $dark-blue-300;
    }

    &__ls:not(&__ls--atv) p,
    &__nls:not(&__nls--atv) {
        &:hover {
            cursor: pointer;
            background-color: $teal-200;
            color: $white;
        }
    }

    &__nls {
        padding-left: 50px;
        line-height: 40px;
        height: 40px;

        // &:not(&--atv):hover {
        //     cursor: pointer;
        //     background-color: $teal-200;
        //     color: $white;
        // }
    }
}