// used for unit testing via jest only (NOT used in compiling production/dev build)
{
    "plugins": [
        // used only for Ant Design UI Components + "babel-plugin-import"
        ["import", {"libraryName": "antd"}]
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ]
}