.main--list {
    .datagrid {
        &__row {
            &--nested {
                td:nth-child(2) {
                    padding-left: 60px;
                }
            }

            td:not([colspan]) {
                // ID
                &:nth-child(2) {
                    div {
                        display: flex;
                        align-items: center;
                    }

                    .icon {
                        color: $gray;
                    }
                }
            }

            .icon-btn {
                &--arrow-rt {
                    &,
                    .icon {
                        width: 20px;
                        height: 20px;
                    }

                    .icon {
                        transform: translateZ(0) rotateZ(0);
                        transition: transform .1s;
                        will-change: transform;
                    }
                }

                &--open {
                    .icon--arrow-rt {
                        transform: translateZ(0) rotateZ(90deg);
                    }
                }
            }

            .badge {
                margin: 0 10px 0 3px;
                background-color: $light-gray-700;
                color: $white;
            }

            .dropdown__select--cell {
                background-color: transparent;
                padding: 0 35px 0 8px;
            }
        }

        &__cell {
            &--id,
            &--addr {
                @extend %text-trim-ellipsis;
                display: inline-block;
                vertical-align: middle;
            }

            // `max-width` aligns with cell width set by `gen-tb-cells-width` below
            &--id {
                max-width: 200px;
            }

            &--addr {
                max-width: 250px;
            }
        }

        th,
        td:not([colspan]) {
            // total width: 1280px
            @include gen-tb-cells-width( (65, 270, 350, 200, (75, 2), 95, (50, 3)) );
        }

        .slider-switch,
        .checkbox {
            display: flex;
        }

        .icon-switch {
            input {
                + span {
                    border: 1px solid $light-gray;
                }

                &:checked + span {
                    border: 1px solid $teal;
                    color: $teal;
                }
            }

            span {
                margin-right: 5px;
                border-radius: 5px;
                width: 20px;
                height: 20px;
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
}