// Allow style ONLY IF directly within a non-disabled button
@mixin hover-icon-state($fontColor, $bgColor) {
    color: $fontColor;
    background-color: $bgColor;
}

.icon-btn {
    &:focus {
        outline: none;
    }

    &:not(:disabled):hover {
        .icon {
            transition: color .15s, background-color .15s;
            will-change: color background-color;
            transform: translateZ(0);

            &--white {
                @include hover-icon-state($teal, $white);
            }

            &--gray {
                @include hover-icon-state($white, $teal);
            }
        }
    }
}