@mixin side-nav__item-header($bgColor, $isHover: false) {
    @if $isHover == true {
        cursor: pointer;
    }
    background-color: $bgColor;
    color: $white;
    @content;
}

.side-nav {
    padding: 30px 0;
    min-width: 220px;
    width: 220px;
    height: 100%;
    background-color: $dark-blue-200;
    color: $light-blue-100;

    &__list--child {
        @include self-custom-scrollbar($dark-blue-200, $light-blue-100, 2px);
        overflow-y: auto;
        font: 16px $roboto-reg;
    }

    &__item--parent {
        &.side-nav__item--atv {
            .side-nav__item-header {
                @include side-nav__item-header($dark-blue-300);

                .badge {
                    color: $white;
                    background-color: $teal-200;
                }
            }

            .side-nav__list--child {
                transition: max-height .3s ease-in .05s;
                transform: translateZ(0);
                will-change: max-height;
            }

            &.side-nav__item--atv-parent {
                .side-nav__item-header {
                    background-color: transparent;
                }
            }
        }

        &:not(.side-nav__item--atv) {
            .side-nav__item-header:hover {
                @include side-nav__item-header($teal-200, true);
                transition: background-color .15s ease;
                transform: translateZ(0);
                will-change: background-color;

                .badge {
                    color: $white;
                }
            }

            .side-nav__list--child {
                transition: max-height .1s ease-out;
                transform: translateZ(0);
                will-change: max-height;
            }
        }
    }

    &__item--child  {
        position: relative;
        display: block;
        padding: 0 10px 0 55px;
        height: 40px;
        line-height: 40px;

        // List Item Circle
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 45px;
            transform: translate3d(0, -50%, 0);
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 4px;
            border: 2px solid $light-blue-100;
        }

        &.side-nav__item--atv {
            @include side-nav__item-header($dark-blue-300);

            &::before {
                border: 2px solid $white;
            }
        }

        &:not(.side-nav__item--atv):hover {
            @include side-nav__item-header($teal-200, true);
            transition: background-color .15s ease;
            transform: translateZ(0);
            will-change: background-color;

            &::before {
                border: 2px solid $white;
            }
        }

        .side-nav__title {
            display: block;
            padding-right: 15px;
        }
    }

    &__item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        height: 40px;
        font: 16px $roboto-bld;

        .icon {
            &--plain {
                width: 12px;
                height: 12px;
                font-weight: 600;
            }

            &--arrow-dn,
            &--arrow-rt {
                &,
                .icon {
                    width: 20px;
                    height: 20px;
                }

                font-weight: bold;
            }
        }
    }

    &__title {
        flex: auto;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}