.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $clear;
    border-radius: 15px;
    font-size: 20px;

    &--white {
        color: $white;
    }

    &--gray {
        color: $gray;
    }
}
