// Allow style ONLY IF directly within a non-disabled button
@mixin state-hover_in-btn($fontColor, $bgColor) {
    &:hover {
        .icon-btn:not(:disabled) > & {
            color: $fontColor;
            background-color: $bgColor;
        }
    }
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $clear;
    border-radius: 15px;
    font-size: 20px;

    &--light {
        @include state-hover_in-btn($teal, $white);
        color: $white;
    }

    &--dark {
        @include state-hover_in-btn($white, $teal);
        color: $gray;
    }
}
