.kz-datagrid__head {
    background: $light-gray-300;
    text-transform: uppercase;
    font: 14px $roboto-bld;

    &--list {
        // Grid (Desktop only, Responsive not part of current Scope for now)
        display: grid;
        grid-template-rows: var(--gridTemplateRows);
        grid-template-columns: var(--gridTemplateColumns);

        .kz-datagrid__head-cell {
            grid-column: var(--gridColumn);
            grid-row: var(--gridRow);
        }
        // END - Grid
    }

    &-cell {
        padding: 20px;
        color: $dark-gray-100;

        span, .kz-sort-btn {
            vertical-align: middle;
        }
    }

    .kz-sort-btn {
        margin-left: 10px;
        vertical-align: middle;
    }
}