.kz-datagrid__head {
    display: table-header-group;
    background: $light-gray-300;
    text-transform: uppercase;
    font: 14px $roboto-bld;

    &-row {
        display: table-row;
        height: 50px;
    }

    &-cell {
        display: table-cell;
        padding: 20px;
        color: $dark-gray-100;

        span, .kz-sort-btn {
            vertical-align: middle;
        }
    }

    .kz-sort-btn {
        margin-left: 10px;
        vertical-align: middle;
    }


}