.sort-btn {
    display: inline-block;

    &:not(:focus) {
        outline: none;
    }

    &:focus {
        outline: 2px solid $light-blue-200;
        outline-offset: 2px;
    }

    &:before,
    &:after {
        content: '';
        display: block;
    }

    &::before {
        @include arrow('up', 5px, $light-gray-200);
    }

    &:after {
        margin-top: 3px;
        @include arrow('dn', 5px, $light-gray-200);
    }

    &--asc {
        &:before {
            @include arrow('up', 5px, $dark-gray-100);
        }
    }

    &--dsc {
        &:after {
            @include arrow('dn', 5px, $dark-gray-100);
        }
    }
}