$teal: #5AB3AD;
$teal-100: #009688;
$red: red;
$green: green;

$light-gray: #C0C1C2;
$gray-100: #949599;
$gray: #8E8E8E;
$dark-gray: #707070;
$dark-gray-100: #505050;

$white: white;
$clear: transparent;