$teal: #5AB3AD;
$teal-100: #009688;
$teal-200: #2E8B85;

$red: red;
$green: green;

$light-blue-100: #94A9C1;
$dark-blue-100: #334453;
$dark-blue-200: #13283B;
$dark-blue-300: #364858;

$light-gray: #C0C1C2;
$light-gray-100: #DDD;
$gray-100: #949599;
$gray-200: #808080;
$gray: #8E8E8E;
$dark-gray: #707070;
$dark-gray-100: #505050;

$white: white;
$clear: transparent;