@mixin side-nav__tier($bgColor, $isHover: false) {
    @if $isHover == true {
        cursor: pointer;
    }
    background-color: $bgColor;
    color: $white;
    @content;
}

.side-nav {
    padding: 30px 0;
    min-width: 220px;
    width: 220px;
    background-color: $dark-blue-200;
    color: $light-blue-100;

    &__nls {
        @include self-custom-scrollbar($dark-blue-200, $light-blue-100, 2px);
        overflow-y: auto;
        list-style-type: circle;
        list-style-position: inside;
        font: 16px $roboto-reg;
    }

    &__ls-item {
        &--atv {
            .side-nav__tier {
                @include side-nav__tier($dark-blue-300);

                .badge {
                    color: $white;
                    background-color: $teal-200;
                }
            }

            .side-nav__nls {
                transition: max-height 0.2s ease-out;
                transform: translateZ(0);
                will-change: max-height;
            }
        }

        &:not(&--atv) {
            .side-nav__tier:hover {
                @include side-nav__tier($teal-200, true);
                transition: background-color .15s ease;
                transform: translateZ(0);
                will-change: background-color;

                .badge {
                    color: $white;
                }
            }

            .side-nav__nls {
                transition: max-height 0.1s ease-out;
                transform: translateZ(0);
                will-change: max-height;
            }
        }
    }

    &__nls-item  {
        padding-left: 45px;
        line-height: 40px;
        height: 40px;

        &--atv {
            @include side-nav__tier($dark-blue-300);
        }

        &:not(&--atv):hover {
            @include side-nav__tier($teal-200, true);
            transition: background-color .15s ease;
            transform: translateZ(0);
            will-change: background-color;
        }

        .side-nav__title {
            margin-left: -3px;
        }
    }

    &__tier {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        height: 40px;
        font: 16px $roboto-bld;

        .icon {
            &--plain {
                width: 12px;
                height: 12px;
                font-weight: 600;
            }

            &--arrow-dn,
            &--arrow-rt {
                &,
                .icon {
                    width: 20px;
                    height: 20px;
                }

                font-weight: bold;
            }
        }
    }

    &__title {
        flex: auto;
        margin-left: 10px;
    }
}