doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        title Option
        link(rel="stylesheet" href="../asset/main.min.css")

    body
        div#app
        script(src="main.min.js")
