.badge {
    display: inline-block;
    background-color: #334453;
    min-width: 24px;
    height: 18px;
    border-radius: 18px;
    text-align: center;
    font: 12px $roboto-reg;
    color: #94A9C1;
}
