doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        title Demo (Option page)
        link(rel="stylesheet" href="style.min.css")

    body
        div#demo
        script(src="main.min.js")
