.app-option {
    --offset-x: 10px;
    --offset-y: 8px;
    --logo-width: 190px;

    min-width: 1280px;

    header {
        @include mq-retina-bg-img($logo-path-1x, $logo-path-2x);

        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: var(--offset-y);
        height: 60px;
        background-color: $teal;
        background-size: var(--logo-width) 45px;
        background-repeat: no-repeat;
        background-position: var(--offset-x) center;

        &,
        .ctrl {
            display: flex;
            align-items: center;
        }

        .ctrl {
            &--edit {
                flex: auto;
                margin-left: calc(var(--logo-width) + 40px);
            }
        }

        .search {
            margin-right: 10px;
        }

        .icon-btn {
            &:not(:first-child) {
                margin-left: var(--offset-x);
            }

            // override data-grid def. styling for <span>
            .icon {
                font-size: 20px;
            }

            &--upload {
                .icon {
                    transform: rotate(180deg) translateZ(0);
                }
            }
        }
    }

    .datagrid {
        th,
        td:not([colspan]) {
            @include gen-tb-cells-width( (65, 80, (270, 2), 220, (75, 3), (50, 3)) );

            // Checkbox
            &:first-child {
                padding-left: 15px;
            }
        }
    }
}
