.kz-datagrid {
    &__grid {
        @include nested-table-bg('&--nest-', 4, #F2F2F2, 10px);
        width: 100%;
        text-align: left;

        &--root {
            margin-top: 15px;
            background: transparent;

            > tbody {
                > tr {
                    border-top: 1px solid #E6E6E6;

                    &:nth-child(even) {
                        background: #FAFAFA;
                    }
                }

                // Expand button (temp)
                button {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    border: 1px solid #8E8E8E;
                    border-radius: 5px;
                    color: #8E8E8E;
                }
            }
        }
    }

    // temp
    th, td {
        width: 150px;
    }

    // temp
    td {
        &:not([colspan]) {
            padding: 20px;
        }
        font: 14px Helvetica;
        color: #8E8E8E;
    }
}
