.kz-datagrid {
    &__grid {
        @include nested-table-bg('&--nested-', 4, $light-gray-400, 10px);
        width: 100%;
        text-align: left;

        &--root {
            margin-top: 15px;
            background: transparent;

            > tbody {
                > .kz-datagrid__row {
                    &--odd,
                    &--even {
                        border-top: 1px solid $light-gray-500;
                    }

                    &--even {
                        background: $light-gray-600;
                    }
                }
            }
        }
    }

    td {
        font: 14px Helvetica;
        color: $gray;
    }
}
