.text-ipt {
    min-width: 300px;

    &__label
    &__input,
    &__err {
        width: 100%;
    }

    &__label {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__input {
        -webkit-appearance: none;
        transition: border 0.2s ease;
        border: none;
        border-bottom: 1px solid $light-gray;
        padding: 5px 30px 5px 10px;
        clear: both;
        font: 14px $roboto-reg;
        color: $dark-gray-100;

        &:not(:focus) {
            outline: none;
        }

        &::-webkit-input-placeholder {
            font: 14px $roboto-reg;
            color: $light-gray;
        }

        &:focus {
            border-bottom: 1px solid $teal;
        }
    }

    .icon {
        position: absolute;
        right: 0;
        z-index: 100;
        color: green;
        display: none;
    }

    &__err {
        display: none;
        list-style-type: disc;
        list-style-position: inside;
        margin-top: 5px;
        font: 12px $roboto-reg;
        color: $red;
    }

    &--invalid {
        .text-ipt__input:focus {
            border-bottom: 1px solid $red;
        }

        .text-ipt__err {
            display: block;
        }
    }

    &--valid {
        .text-ipt__input:focus ~ .icon {
            display: inline-flex;
        }
    }
}
