.slider-switch {
    display: inline-flex;
    align-items: center;

    // Switch
    input {
        -webkit-appearance: none;
        position: relative;
        background: $light-gray;
        width: 40px;
        height: 20px;
        transition: background-color .2s ease-out;
        will-change: background-color;

        &,
        &::before {
            border-radius: 20px;
            cursor: pointer;
        }

        &:not(:focus) {
            outline: none;
        }

        &:focus {
            outline-color: $light-blue-200;
        }

        &:disabled {
            &,
            ~ label {
                opacity: .4;
            }
        }

        &:not(:disabled):hover {
            cursor: pointer;
        }

        // Knob
        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px;
            height: 16px;
            background: $white;
            transition: transform .15s ease, background-color .2s ease-out;
            will-change: transform, background-color;
        }

        // Checked States
        &:checked {
            background: $teal;

            // Knob
            &::before {
                transform: translate3d(20px, 0, 0);
            }
        }
    }

    // Label Text
    label {
        font: 14px $roboto-reg;
        color: $gray;
    }

    &--lt-label {
        flex-direction: row-reverse;

        label {
            margin-right: 10px;
        }
    }

    &:not(&--lt-label) {
        label {
            margin-left: 10px;
        }
    }
}