doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        title Popup
        link(rel="stylesheet" href="../asset/main.min.css")

    body
        h1 lorem sum
        script(src="main.min.js")
