.symbol-btn {
    display: inline-block;

    &__checkbox {
        -webkit-appearance: none;
        margin: 0;

        &:not(:checked) {
            & + .symbol-btn__text:before {
                content: '';
                position: absolute;
                z-index: 100;
                width: 24px;
                height: 2px;
                background: $green;
                transform: rotateZ(-45deg);
            }
        }

        &:disabled {
            & + .symbol-btn__text {
                opacity: 0.4;
                color: $dark-gray;
                border-color: $dark-gray;

                &:before {
                    background: $dark-gray;
                }
            }
        }
    }

    &__text {
        position: relative;
        z-index: 0;
        display: inline-flex;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        border: 2px solid $green;
        font: bold 9px $arial;
        color: $green;
    }
}